@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

   /* Variable colors */
  :root {
  --blue: cadetblue;
  --white: white;
  --black: black;
  --lightgrey: lightgrey;
  }

  /* General Styling */ 
  body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
  
  }
  
  /* Header styling begin */
  header {
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  }

  header h1 {
  color: var(--blue);
  font-size: 35px;
  font-weight: 600;
  background-color: var(--white);
  text-align: left;
  padding-left: 50px;
  padding-right: 10px;
  }

header a {
  text-decoration: underline;
  color: var(--white);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

header nav {
  max-width: 1250px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  text-decoration: underline;
}
/* Header styling end */

/* Hero section styling begin */
.hero {
  background-image: url("../images/laptop-code-header.jpeg");
  padding: 10%;
  margin: 0;
  height: 200px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero p {
  float: right;
  color: var(--white);
  background: var(--blue);
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  bottom: 15px;
  right: 35px;
}
/* Hero section styling end */

/* Section styling begin */
.column1 {
  float: left;
  text-align: right;
  border-right-style: solid;
  font-size: 32px;
  padding: 10px;
}

.column1 h3 {
  padding-left: 75px;
  padding-right: 15px;
}

.about-me {
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-me p {
  font-size: 16px;
  padding: 1 30px;
  line-height: 1.5;
  /* width: 80%; */
}

.work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 30px 0;
}

.work .column1 {
  float: left;
  text-align: right;
  border-right-style: solid;
  font-size: 32px;
  padding: 12px; 
}

.work-grid-wrapper {
display: flex;
flex: 50%;
flex-wrap: wrap;
width: 50%;
}

.flex-item:first-child {
  flex-basis: 100%;
}

.flex-item {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: var(--white);
  margin: 25px;
}

.flex-item div {
  background-color: var(--blue);
}

.small-rows { 
  width: 45%;

}

.work-label1 {
  height: 200px;
  background: url("../images/horiseon-refactoring.png");
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--blue);
  background-position: center;
  opacity: 0.5;
}

.work-label1:hover {
  opacity: 1.0;
}

.work-label2 {
  height: 200px;
  background: url(../images/placholder-image.png);
  background-position: center;
  background-size: 550px;
  background-repeat: no-repeat;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--blue);
  background-position: center;
  opacity: 0.5;
}

.work-label2:hover {
  opacity: 1.0;
}

.work-label3 {
  height: 200px;
  background: url(../images/placholder-image.png);
  background-position: center;
  background-size: 550px;
  background-repeat: no-repeat;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--blue);
  background-position: center;
  opacity: 0.5;
}

.work-label3:hover {
  opacity: 1.0;
}

.work-label4 {
  height: 200px;
  background: url(../images/placholder-image.png);
  background-position: center;
  background-size: 550px;
  background-repeat: no-repeat;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--blue);
  background-position: center;
  opacity: 0.5;
}

.work-label4:hover {
  opacity: 1.0;
}

.work-label5 {
  height: 200px;
  background: url(../images/placholder-image.png);
  background-position: center;
  background-size: 550px;
  background-repeat: no-repeat;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--blue);
  background-position: center;
  opacity: 0.5;
}

.work-label5:hover {
  opacity: 1.0;
}
/* Section styling end */

/* Footer/Contact Me begin */
.contact-me .column2 {
  float: left;
  text-align: right;
  border-right-style: solid;
  font-size: 32px;
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
  padding-bottom: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  text-decoration: underline;
  text-align: justify;
  margin-bottom: 10PX;;
}

.content-wrapper {
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  text-align: right;
}

#contact-methods {
  width: 100%;
  text-align: center;
  float: none;
}

#contact-methods ul li {
  padding-left: 20px;
  justify-content: space-evenly;
  font-weight: bold;
}